<%= form_for(@cornwall_event) do |f| %>
  <% if @cornwall_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cornwall_event.errors.count, "error") %> prohibited this cornwall_event from being saved:</h2>

      <ul>
      <% @cornwall_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="topline" style="width:820px; height: 28px; position: relative; top:0px; left:50px;  background-color: darkgrey; padding: 10px;">
  <div class="field">
    <%= f.label :sequence_no %> <%= image_tag("info.gif", :size => "16x16", :title => "Controls the sequence order in the list")%>   <%= f.text_field :sequence_no %>
  </div>
  
  <div class="field">
    <%= f.label :active %>  <%= image_tag("info.gif", :size => "16x16", :title => "Controls the visibility in events and news")%>  <%= f.select :active, %w[no events news both]%>
  </div>



</div>  

<div id="#left" style="width:400px; height:500px; position:relative; top:0px; left:50px; background-image: url(/assets/britflag.gif); background-color: lightgrey; padding: 10px;">
   <div class="field">
Date / Label en   <%= f.text_field :date_or_string_en %>
  </div>
   
  <div class="field">
    <%= f.label :headline_en %><br />
    <%= f.text_field :headline_en, :size=>54 %>
  </div>
  
  <div class="field">
    <%= f.label :subtitle_en %><br />
    <%= f.text_field :subtitle_en, :size=>54 %>
  </div>
  
  <div class="field">
    <%= f.label :text_en %> <%= image_tag("info.gif", :size => "16x16", :title => "Not visible in news")%> <br />
    <%= f.text_area :text_en %>
  </div>  
  
  <div class="field">
PDF Flyer en   <%= f.select :pdf_url_en, PdfFlyer.all.collect {|p| [p.filename]},{:include_blank => 'None'} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

</div>

<div id="#right" style="width:400px; height:500px; position:relative; top:-520px; padding-left: 50px; left:470px; background-image: url(/assets/deflag.gif); background-color: lightgrey; padding:10px;">
  <div class="field">
Date/Label de  <%= f.text_field :date_or_string_de %>
  </div>
  
  <div class="field">
    <%= f.label :headline_de %><br />
    <%= f.text_field :headline_de, :size=>54 %>
  </div>  
  
  <div class="field">
    <%= f.label :subtitle_de %><br />
    <%= f.text_field :subtitle_de, :size=>54 %>
  </div>  
  
  <div class="field">
    <%= f.label :text_de %><br />
    <%= f.text_area :text_de %>
  </div>
  
  <div class="field">
PDF Flyer de  <%= f.select :pdf_url_de, PdfFlyer.all.collect {|p| [p.filename]}, {:include_blank => 'None'}%>
  </div>
  
</div>


<% end %>
